<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.thryftapp">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThryftApp"
        tools:targetApi="31">

        <!-- Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth Activities -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".WelcomeActivity1" />
        <activity android:name=".WelcomeActivity2" />
        <activity android:name=".WelcomeActivity3" />

        <!-- Core Navigation Host -->
        <activity
            android:name=".NavHostActivity"
            android:windowSoftInputMode="adjustNothing" />

        <!-- Optional legacy Activities -->
        <activity android:name=".DashboardActivity" android:exported="false" />
        <activity android:name=".TransactionActivity" android:exported="false" />
        <activity android:name=".CategoryActivity" android:exported="false" />
        <activity android:name=".GraphActivity" android:exported="false" />
        <activity android:name=".ExpensePieChartActivity" android:exported="false" />
        <activity android:name=".IncomePieChartActivity" android:exported="false" />
        <activity android:name=".ViewCategoryTransactionsActivity" android:exported="false" />

        <!-- FileProvider for camera & gallery -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.thryftapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

    </application>

</manifest>
